{% extends "auctions/layout.html" %}

{% block main %}
{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {% for message in messages %}
  {% if message.tags %} {% endif %} {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  {% endfor %}
</div>
{% endif %}
<article>
<div class = "container">
<div class = "row justify-content-between">
<!-- List the listing -->
  <div class = "col-md-4">
    <div class = "pd-2">Title: {{listing.title}}</div>
    <br>
    <div class = "pd-2">Description: {{listing.description}}</div>
    <br>
    <div class = "pd-2">
    {% if listing.highestbid < listing.price %}
      Price: ${{listing.price}}
    {% else %}
      Price: ${{listing.highestbid}}
    {% endif %}
    </div>
    <br>
    Posted by: {{ listing.user }}
    <br>
    {% if listing.image %}
        <img src = "{{listing.image.url}}" alt = "someone forgot to add an image here :( " style = "max-height: 300px;">
        <br>
    {% endif %}

    {% for category in categories %}
    {% if listing.category == category.0 %}
    <div class = "pd-2">The category is: {{ category.1 }}</div>
    {% endif %}
    {% endfor %}

    <br>
    Original Price: ${{ listing.price }}
  </div>

  <div class = "col-md-4 ">
    <div class = "float-end">
      <h4>Recently Viewed</h4>
      {% for recent_listing in recently_viewed_listings %}
        <div class = "p-2">
          <a href="{% url 'view_listing' recent_listing.id %}">
            <h5>{{ recent_listing.title }}</h5>
          </a>
          <img src ="{{recent_listing.image.url}}" alt = "" style = "height:75px">
        </div>
        <br>
      {% endfor %}
    </div>
  </div>
  
</div>

<section>
<!-- Watchlist stuff -->
<div class = "row">
  {% if watching and watching.active == 1 %}
    <form action = "{% url 'view_listing' listing.id %}" method = "POST">
      {% csrf_token %}
      <button type = "submit" name = "unwatch"> Remove from Watchlist </button>
    </form>
    {% elif not watching or watching.active == 0 %}
    <form action = "{% url 'view_listing' listing.id %}" method = "POST">
      {% csrf_token %}
      <button type = "submit" name = "watch"> Add this item to your Watchlist!</button>
    </form>
    {% endif %}

<!-- Bidding Stuff -->
{% if user.is_authenticated %}
  {% if user != listing.user and listing.active == 1 %}
  <form action = "{% url 'view_listing' listing.id %}" method = "POST">
    {% csrf_token %}
    <input type = "number" name = "amount"
    {% if listing.highestbid > listing.price %}
      min = "{{listing.highestbid|add:"1"}}" value = "{{listing.highestbid|add:"1"}}"
    {% else %}
      min = "{{ listing.price|add:"1" }}" value = "{{ listing.price|add:"1"}}"
    {% endif %} >
    <button type = "submit" name = "bid">Bid</button>
  </form>
  {% endif %}

  {% if total_bids == 0 %}
  There are no bids as of yet.
  <br>
  {% else %}
  There are {{ total_bids }} bids total.
  {% endif %}
  <br>

    {% if user != listing.user %} 
      {% if winner.user_id == user.id and listing.active == 0 %}
        You won this item for ${{listing.highestbid}} dollars!
      {% elif winner.user_id == user.id %}
        At the moment, you have the highest bid at ${{ listing.highestbid }}!
      {% elif user.id == bids.user_id %}
        Your bid is too low to win the current auction :(
      {% endif %}
  {% endif %}


  {% if user == listing.user and listing.active == 1 %}
    <form  action="{% url 'view_listing' listing.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" name="close">Close Auction</button>
    </form>
  {% endif %}
  <br>
  {% if user == listing.user and listing.active == 0 %}
    This item was sold for ${{listing.highestbid}} dollars!
  {% endif %}

  {% endif %}
</div>
</section>

<!-- Comments Stuff -->

<!-- View comments -->
<br>
<div class = "row">
<div class = "pm-2">Comments:</div>
{% if comments %}
  {% for comment in comments %}
  <section>
    {{comment.user}} posted: {{ comment.comment }}
    <br>
  </section>
  {% endfor %}
  {% else %}
  Nobody has commented yet, be the first!
{% endif %}

<!-- submit comments -->
{% if user.is_authenticated %}
  <form action = "{% url 'view_listing' listing.id %}" method = "POST">
    {% csrf_token %}
    {{ comment_form }}
    <br>
    <button type = "submit" name = "my_comment">Post</button>
  </form>
{% endif %}
</div>
</div>
</article>
{% endblock %}