{% extends "auctions/layout.html" %}
{% block title %} My Items {% endblock %}
{% block main %}

<article>
<h2 >Past and Present Items</h2>
<section>
<h3>Still open!</h3>
{% for item in inventory %}
<div>
  {% if item.active == 1 %}
  <a href="{% url 'view_listing' item.id %}">
    <h5>{{ item.title }}</h5>
  </a>
  {% if item.image == 'No image' %}
    <p>No image</p>

    {% else %}
    <img
      src="{{item.image.url}}"
      alt="{{item.image}}"
      style="max-height: 75px"
    />
    {% endif %}
    <br>
  Description: {{item.description}}
  {% endif %}
</div>
{% endfor %}
</section>

<section>
<h3>Sold</h3>

{% for item in inventory %}
<div>
  {% if item.active == 0 %}
    <a href="{% url 'view_listing' item.id %}">
      <h5>{{ item.title }}</h5>
    </a>
    {% if item.image == 'No image' %}
    <p>No image</p>

    {% else %}
    <img
      src="{{item.image.url}}"
      alt="{{item.image}}"
      style="max-height: 75px"
    />
    {% endif %}
    <br>
    Description: {{item.description}}
  {% endif %}
</div>
{% endfor %}
</section>
<section>

<h3>Won!</h3>

{% for listing, winner in zipped %}  
  {% if user == winner.user%}
  {% if listing.active == 0 %}
    <a href="{% url 'view_listing' listing.id %}">
      <h5>{{ listing.title }}</h5>
    </a>
  {% endif %}
    {% if listing.image == 'No image' %}
    <p>No image</p>

    {% else %}
    <img
      src="{{listing.image.url}}"
      alt="{{listing.image}}"
      style="max-height: 75px"
    />
    {% endif %}
    <br>
    {% if winner.bid == listing.highestbid %}
      Bought For: ${{listing.highestbid}}
    {% endif %}
    <br>
  Description: {{listing.description}}
  <br>
  <br>
  <br>
{% endif %}
{% endfor %}
</section>
</article>

{% endblock %}

