{% extends "auctions/layout.html" %}
{% block title %} My Items {% endblock %}
{% block main %}

{% if length == 0 and user == listing.user %}
<h3> You don't have any closed listings </h3>
{% else %}

<article>
  {% for listing, winner in zipped %}
  <section>
    {% if listing.image == 'No Image' %}
    No image here :(
    {% else %}
    <img src = "{{listing.image.url}}" alt = "{{listing.image}}" style = "max-height: 300px;" />
    {% endif %}
    <h2> {{listing.title}} </h2>
    {% if winner.bid == listing.highestbid %}
    Sold to {{winner.user}} for: ${{listing.highestbid}}
    {% else %} 
    Sold for: ${{listing.highestbid}}
    {% endif %}
    <br>
    {{listing.description}}
  </section>
</article>

{% endfor %}
{% endif %}
{% endblock %}