{% extends "auctions/layout.html" %}

{% block main %}
<h3>These are the items in your Watchlist!</h3>

<article>
  {% for item in watching %}
  {% if item and item.active == 1 %}
    <section>
      <a href = "{% url 'view_listing' item.id %}">Title: {{item.title}}</a>
      <br>
      Description: {{item.description}}
      <br>
      {% if item.image %}
        <img src = "{{item.image.url}}" alt = "there should be an image here" style = "max-height: 300px;">
        <br>
      {% endif %}
      {% for category in categories %}
      {% if item.category == category.0 %}
        The category is: {{ category.1 }}
      {% endif %}
      {% endfor %}
    </section>
  {% endif %}
  {% endfor %}
</article>

{% endblock %}