{% extends "auctions/layout.html" %}
{% load static %}
{% block main %}
<h2>These are the items in your watchlist!</h2>

<article>
  {% for item in watching %}
  <section>
    <!-- Watchlist toggle stuff -->
    <div style = "float: right;">
      <form id = "watchlist-toggle" action = "{% url 'watchlist_toggle' item.id %}" method = "POST">
        {% csrf_token %}
        {% if item.watching and item.active == 1 %}
        <input type = "image" src = "/media/images/bell_icon.png" style="max-height:50px;" id = "bell" >
        {% elif not item.watching or item.active == 0 %}
        <input type = "image" src = "/media/images/crossed_bell.png" style="max-height:50px;" id = "bell" >
        {% endif %}
      </form>
    </div>
  {% if item and item.active == 1 %}
      Title: {{item.title}}
      <br>
      Description: {{item.description}}
      <br>
      {% if item.highestbid < item.price %}
        Price: ${{item.price}}
      {% else %}
        Price: ${{item.highestbid}}
      {% endif %}
      <br>
      {% if item.image %}
        <img src = "{{item.image.url}}" alt = "there should be an image here" style = "max-height: 300px;">
        <br>
      {% endif %}
      {% for category in categories %}
      {% if item.category == category.0 %}
        The category is: {{ category.1 }}
      {% endif %}
      {% endfor %}
      <br>
      <a href = "{% url 'view_listing' item.id %}"><button>Check this out!</button></a>
    </section>
  {% endif %}
  
  {% endfor %}
</article>

<script src="{% static 'auctions/auctions.js' %}"></script>
{% endblock %}